:root {
  /* Colors */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --primary-hsl-500: hsl(256, 72%, 46%);
  --secondary-hsl-500: hsl(241, 72%, 46%);
  --primary-hsl-500: 256, 72%, 46%;
  --secondary-hsl-500: 241, 72%, 46%;
  --primary-500: hsla(var(--primary-hsl-500));
  --gradient-to-transparent: linear-gradient(
    var(--primary-500),
    hsl(var(--secondary-hsl-500), 0)
  );
  --gradient-primary: linear-gradient(
    var(--light-slate-blue),
    var(--light-royal-blue)
  );

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  /* Typography */
  --font-family: "Hanken Grotesk", sans-serif;
  --font-size-paragraph: 18px;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: var(--font-family);
}

.container {
  max-width: 60rem;
  display: flex;
  border-radius: 2rem;
  box-shadow: 1px 0px 20px 2px rgb(0, 0, 0, 0.1);
  justify-content: center;
}
.result-score {
  width: 60%;
  padding: 2.5rem 4rem;
  background: var(--gradient-primary);
  border-radius: 2rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-score-title h1 {
  color: var(--light-lavender);
}
.result-final-score {
  padding: 9rem;
  width: 7.4rem;
  height: 7.4rem;
  border-radius: 100%;
  background: var(--gradient-to-transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.out-of-score {
  text-align: center;
  color: var(--light-lavender);
  font-weight: var(--font-weight-bold);
}

.out-of-score span {
  font-size: 6rem;
  font-weight: var(--font-weight-black);
  color: var(--white);
  line-height: 1;
}
.out-of-score {
  font-size: 1.5rem;
  color: hsla(241, 100%, 89%, 0.621);
}
.result-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
.result-content-title p {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: var(--font-weight-medium);
}
.result-content-text p {
  /* margin-top: 1rem; */
  text-align: center;
  color: var(--light-lavender, 7);
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
.summary {
  width: 55%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.summary-title h2 {
  font-size: 2rem;
  font-weight: var(--font-weight-black);
}

.summary-item {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: var(--font-weight-medium);
  padding: 1.5rem;
  border-radius: 10px;
}
.icon {
  display: flex;
  gap: 1rem;
}
.summary-score span {
  font-weight: var(--font-weight-black);
  color: #000;
}
.summary-score p {
  font-weight: var(--font-weight-black);
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: var(--light-red);
}
.memory {
  background: hsla(39, 100%, 56%, 0.1);
  color: var(--orangey-yellow);
}

.verbal {
  background: hsl(166, 100%, 37%, 0.1);
  color: var(--green-teal);
}

.visual {
  background: hsl(234, 85%, 45%, 0.1);
  color: var(--cobalt-blue);
}
.summary p {
  font-weight: var(--font-weight-black);
  color: hsla(224, 30%, 27%, 0.46);
}

.btn {
  margin-top: 2rem;
  font-weight: var(--font-weight-bold);
  background-color: var(--dark-gray-blue);
  color: var(--white);
  border: none;
  padding: 1.6rem 0;
  width: 100%;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1.3rem;
}
